manifest {

	name = 'mPCRselect'
	author = 'Michael G. Campana'
	homePage = 'https://github.com/campanam/mPCR'
	description = 'Pipeline to select SNPs for mPCR'
	mainScript = 'mPCRselect.nf'
	version = '0.1.0'
	nextflowVersion = '>=20.10.0'

}

params {

	outdir = "$baseDir/mPCR_results" // Output directory
	mPCRbindir = "$baseDir/bin" // Directory for mPCR pipeline custom scripts
	vcf = "$baseDir/RawData/AKIK_test.vcf.gz" // Input VCF (gzipped)
	samples = "$baseDir/RawData/SamplesToRemove.txt" // List of samples to remove
	chr_file = "$baseDir/RawData/chr.txt" // List of chromosomes to retain
	sspecies = "$baseDir/RawData/sspecies.csv" // CSV assigning samples to subspecies
	map_bed = "$baseDir/RawData/hofi.bed" // BED file of low mappability regions to exclude
	
	minGQ = 20 // Minimum GQ filter
	indvMissing = 0.50 // Maximum individual missingness
	siteMissing = 0.8 // Site missingness (as specified in VCFtools)
	cull = 40 // Distance to cull SNPs in bp (remove both SNPs)
	thin = 100000 // Distance to randomly thin for LD avoidance
	
	maxSNPs = 1000 // Maximum number of SNPs of all classes to retain
	minPi = 0.1 // Minimum site-pi for retention
	maxPiSNPs = 1000 // Maximum number of highest pi SNPs to retain
	maxPiPC = 0.1 // Maximum proportion of pi SNPs to retain
	maxPCASNPs = 1000 // Maximum number of sites based on PCA loadings
	maxPCAPC = 0.1 // Maximum percentage of sites based on PCA loadings
	minFst = 0.1 // Minimum site Fst for retention
	maxFstSNPs = 1000 // Maximum number of Fst SNPs to retain
	maxFstPC = 0.1 // Maximum proportion of Fst SNPs to retain
	
}
