manifest {

	name = 'mPCRselect'
	author = 'Ellie E. Armstrong, Julie Li, Katherine A. Solari, Jazlyn A. Mooney, Michael G. Campana'
	homePage = 'https://github.com/ellieearmstrong/tiger_mPCR'
	description = 'Pipeline to select SNPs for mPCR'
	mainScript = 'mPCRselect.nf'
	version = '0.3.0'
	nextflowVersion = '>=23.10.0'

}

params {

	outdir = "$launchDir/mPCR_results" // Output directory
	vcf = "$launchDir/RawData/tiger.vcf.gz" // Input VCF (gzipped)
	samples = "$launchDir/RawData/SamplesToRemove.txt" // List of samples to remove. Set to "NULL" to bypass filter.
	chr_file = "$launchDir/RawData/tiger_chromosomes.txt" // List of chromosomes to retain. Set to "NULL" to bypass filter.
	populations = "$launchDir/RawData/tiger_pop.csv" // CSV assigning samples to subspecies or populations
	map_bed = "$launchDir/RawData/PanTig-genmap1.0.chromrename.bed" // BED file of low mappability regions to exclude.  Set to "NULL" to bypass filter.
	refseq = "$launchDir/PanTig1.0.fa" // Reference sequence in FASTA
	
	minGQ = 20 // Minimum GQ filter.  Set to "NULL" to bypass filter.
	indvMissing = 0.50 // Maximum individual missingness
	siteMissing = 0.8 // Site missingness (as specified in VCFtools)
	cull = 40 // Distance to cull SNPs in bp (remove both SNPs)
	thin = 100000 // Distance to randomly thin for LD avoidance
	minMAF = 0.05 // Minimum MAF
	plinkLD_indep_pairwise = '500kb 0.2' // Parameter string for PLINK2 LD -indep-pairwise
	
	maxPiSNPs = 1000 // Maximum number of highest pi SNPs to retain
	minPi = 0.1 // Minimum site-pi for retention
	maxPiPC = 0.1 // Maximum proportion of pi SNPs to retain
	
	maxFstSNPs = 1000 // Maximum number of Fst SNPs to retain
	minFst = 0.1 // Minimum site Fst for retention using VCFtools
	maxFstPC = 0.1 // Maximum proportion of Fst SNPs to retain using VCFtools
	
	Fst_plot_repet = 10 // Number of repeats per population combination for Fst plots
	Dcontrol = 20 // Number of control replicates for Fst plots
	FstIndResamples = 15 // Number of individuals to resample to for Fst plots
	MaxFstEval = 100 // Maximum number of SNPs to evaluate
	FstSNPInterval = 10 // Interval at which to plot evaluated SNPs
	
	makePrimers = 0 // Make mPCR primers (O = no, 1 = yes)
	makeBaits = 0 // Make baits using BaitsTools (0 = no, 1 = yes)
	baitsparams = '' // String of additional parameters to feed to BaitsTools
	
}
