manifest {

	name = 'mPCRselect'
	author = 'Ellie E. Armstrong, Julie Li, Katherine A. Solari, Jazlyn A. Mooney, Michael G. Campana'
	homePage = 'https://github.com/ellieearmstrong/tiger_mPCR'
	description = 'Pipeline to select SNPs for mPCR'
	mainScript = 'mPCRselect.nf'
	version = '0.3.0'
	nextflowVersion = '>=23.10.0'

}

params {

	outdir = "$launchDir/mPCR_results" // Output directory
	vcf = "$launchDir/RawData/test.vcf.gz" // Input VCF (gzipped)
	chr_file = "$launchDir/RawData/chr.txt" // List of chromosomes to retain
	sspecies = "$launchDir/RawData/sspecies.csv" // CSV assigning samples to subspecies or populations
	map_bed = "$launchDir/RawData/test.bed" // BED file of low mappability regions to exclude
	refseq = "$launchDir/loxAfr4.fa" // Reference sequence in FASTA
	
	minGQ = 20 // Minimum GQ filter
	indvMissing = 0.50 // Maximum individual missingness
	siteMissing = 0.8 // Site missingness (as specified in VCFtools)
	cull = 40 // Distance to cull SNPs in bp (remove both SNPs)
	thin = 100000 // Distance to randomly thin for LD avoidance
	
	maxSNPs = 1000 // Maximum number of SNPs of all classes to retain
	minPi = 0.1 // Minimum site-pi for retention
	maxPiSNPs = 1000 // Maximum number of highest pi SNPs to retain
	maxPiPC = 0.1 // Maximum proportion of pi SNPs to retain
	maxPCASNPs = 1000 // Maximum number of sites based on PCA loadings
	maxPCAPC = 0.1 // Maximum percentage of sites based on PCA loadings
	minFst = 0.1 // Minimum site Fst for retention
	maxFstSNPs = 1000 // Maximum number of Fst SNPs to retain
	maxFstPC = 0.1 // Maximum proportion of Fst SNPs to retain
	
	makePrimers = 0 // Make mPCR primers (O = no, 1 = yes)
	makeBaits = 0 // Make baits using BaitsTools (0 = no, 1 = yes)
	baitsparams = '' // String of additional parameters to feed to BaitsTools
	
}
